<link rel="stylesheet" href="/stylesheets/login_style.css">
<div id="login_cwu">
	<h1>修改密码</h1>
	<div class="content">
		<form method="post" id="login" name="login_exam">
			<label>ID号：</label>
				<input type="text" name="id" id="login_id" style="margin-bottom:20px;"><br>
			<label>密码：</label>
				<input type="password" name="password" id="login_password"><br>
			<input type="submit" id="submit" value="修改密码">
			</table>
		</form>
	</div>
</div>